<?xml version="1.0"?>
<!--
/**
 * Yireo RepeatedSales for Magento 
 *
 * @package     Yireo_RepeatedSales
 * @author      Yireo (http://www.yireo.com/)
 * @copyright   Copyright (C) 2014 Yireo (http://www.yireo.com/)
 * @license     Open Software License
 */
-->
<config>

    <modules>
        <Yireo_RepeatedSales>
            <version>1.0.2</version>
        </Yireo_RepeatedSales>
    </modules>

    <global>

        <blocks>
            <repeatedsales>
                <class>Yireo_RepeatedSales_Block</class>
            </repeatedsales>
        </blocks>

        <helpers>
            <repeatedsales>
                <class>Yireo_RepeatedSales_Helper</class>
            </repeatedsales>
        </helpers>

        <models>
            <repeatedsales>
                <class>Yireo_RepeatedSales_Model</class>
            </repeatedsales>
            <salesrule>
                <rewrite>
                    <rule_condition_product>Yireo_RepeatedSales_Model_Rewrite_Rule_Condition_Product</rule_condition_product>
                </rewrite>
                <rewrite>
                    <rule_condition_product_found>Yireo_RepeatedSales_Model_Rewrite_Rule_Condition_Product_Found</rule_condition_product_found>
                </rewrite>
            </salesrule>
        </models>

        <resources>
            <repeatedsales_setup>
                <setup>
                    <module>Yireo_RepeatedSales</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </repeatedsales_setup>
            <repeatedsales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </repeatedsales_write>
            <repeatedsales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </repeatedsales_read>
        </resources>
	</global>

    <adminhtml>
        <translate>
            <modules>
                <Yireo_RepeatedSales>
                    <files>
                        <default>Yireo_RepeatedSales.csv</default>
                    </files>
                </Yireo_RepeatedSales>
            </modules>
        </translate>
    </adminhtml>

</config>
